


.OptionCarrito {
    display: block;
    margin: 10px;
    text-decoration: none;
    background-color: #ffffff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .ButtonVaciar {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .ButtonVaciar:hover {
    background-color: #7e7e7e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }


  .ButtonCheckout {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none; 
    display: inline-block;
  }
  
  .ButtonCheckout:hover {
    background-color: #7e7e7e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none; 
    display: inline-block;
  }
  