.styleNavButton:hover {

    font-weight: bold; 
  
    color: #ffffff; /* Cambio de color*/
  
    transform: scale(1.1); /* Efecto de escala */
  
    background-color: blue;
   
  }


  .Gerhard {
    font-size: 3vh;
    font-weight: bold;
    color: white;
  }

