
.cardContainer {
    display: flex;
    flex-direction: column; /* Cambiar la dirección a columna para alinear verticalmente */
   margin-top:7vh; /* Agregar espacio entre las tarjetas */
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 10px;
    border: 1px solid #927171;
    border-radius: 3vh;
    height: 7vh;
    width: 70vh;
  }
  
  .card-body {
    display: flex;
    flex-direction: row;

  }
  
  .card-title {
    font-size: 1.2rem;
    margin: 0;
    padding-left: 15px;
  }
  
  .card-text {
    margin: 5px 3vh;
   

  }
  
  .btnRemove {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: rgb(85, 85, 85); /* Cambia esto al color que desees */
    color: rgb(224, 224, 224);
    border: none;
    cursor: pointer;
  }
  
  .btnRemove:hover {
    background-color: rgb(163, 163, 163);     /* Cambia esto al color que desees al hacer hover */
    color: black;
 
}
  